// Normally mainpage styles

 /*---------sidebar----------*/
 .sidebar{
 	position: fixed;
 	left: 0;
 	top: 0;
 	z-index: 100;
 	width: 252px;
 	height: 100vh;
 	background:#4f5f6f;
 }
 	.logo{
 		background:#394657;
 		display: block;
 		height: 80px;
 		text-align: center;
 		img{
 			position: relative;
 			top: 20px;
 		}
 	}
 	.sidebar_list{
 		padding: 30px;
 		ul {
 			li{
 				padding-bottom: 30px;
 				a{
 					color: #fff;
 					font-size: 20px;
 					text-decoration: none;
 				}
 			}
 			ul{
 				padding-top: 30px;
 				li{
 					position: relative;
 					padding:0 0 20px 20px;
 					a{
 						font-size: 15px;
 					}
 					&:before{
 						content: '';
 						position: absolute;
 						left: 0px;
 						top: 7px;
 						background:#fff;
 						border-radius: 50%;
 						width: 7px;
 						height: 7px;
 					}
 				}
 			}
 		}
 	}
 	.social{
 		text-align: center;
 		color: #394657;
 		position: absolute;
 		bottom: 30px;
 		left: 0;
 		width: 100%;
 		a{
 			padding: 0 12px;
 		}
 	}
	 	
	 	
 /*--------end-sidebar----------*/

 /*----------header----------*/

 .header{
	height: 80px;
	background:#d6dde5;
	text-align: right;
	vertical-align: top;
 }
 	.your_cart, .login_wrap{
 		vertical-align: top;
 		display: inline-block;
 	}
 	.your_cart{
 		width: 180px;
		height: 40px;
		margin: 20px 27px 0 0;
		border-radius: 20px;
		background-color: #4f5f6f;
		text-align: left;
		line-height: 40px;
		font-size: 15px;
		color: #fff;
		text-decoration: none;
		span{
			display: inline-block;
			border-radius: 50%;
			text-align: center;
			width: 26px;
			height: 26px;
			line-height: 26px;
			background:#54c5e3;
			margin: 0 0 0 35px;
		}
 		i{
 			font-size: 17px;
 			color: #53b9d6;
 			margin: 0 10px 0 12px;
 		}
 		&:hover{
 			background:#53b9d6;
 			color: #fff;
 			i{
 				color: #4f5f6f;
 			}
 		}
 	}
	.login_wrap{
		position: relative;
		width: 181px;
		height: 40px;
		margin: 20px 60px 0 0;
		button{
			width: 181px;
			height: 40px;
			text-align: center;
			border-radius: 18px;
			background:#54c5e3;
			border: none;
		}
	}
		.login_block{
			position: absolute;
			right: 0;
			top: 60px;
			z-index: 10;
		}
		.login{
			width: 280px;
			height: 165px;
			box-shadow: 0 0 4px #dadee1;
			border-radius: 10px;
			background-color: #54c5e3;
			&:before{
				content: '';
				position: absolute;
			    top: -15px;
			    right: 18px;
				@include arr(15,15, #54c5e3, t)
			}
			form{
				padding-top: 10px;
			}
		}
			.login_input{
				width: 260px;
				height: 40px;
				margin: 0 auto ;
				margin-bottom: 10px;
				border-radius: 10px;
				background-color: #fff;
				text-align: left;
				label{
					display: inline-block;
					width: 83px;
					height: 30px;
					line-height: 30px;
					font-size: 15px;
					color: #d6dde5;
					margin: 5px 0 0 14px;
					border-right: 1px solid #d6dde5;
				}
				input{
					width: 148px;
					height: 30px;
					margin: 5px 0 0 7px;
					padding: 0;
					border: none;
					font-size: 15px;
					color: #4f5f6f;
				}
			}
			.login_btn{
				width: 260px;
				@include povh('');
				margin: 0 auto;
				span{
					float: left;
					font-size: 15px;
					font-weight: bold;
					color: #fff;
					padding: 0 0 0 9px;
					height: 40px;
					line-height: 40px;
					font-weight: normal;
				}
			}
		.register{
			position: relative;
			text-align: center;
			margin: 7px 0 0 0;
			a{
				width: 280px;
				height: 40px;
				border-radius: 10px;
				background-color: #fff;
				font-size: 15px;
				font-weight: bold;
				text-transform: uppercase;
				color: #61c7e3;
				display: block;
				margin: 0 auto;
				line-height: 40px;
				text-decoration: none;

			}
		}
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
	padding: 20px 60px 20px 312px;
 }

/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
	height: 80px;
	background:#d6dde5;
	font-size: 15px;
	color: #4f5f6f;
	text-align: right;
	address{
		padding: 24px 60px 0 0;
		display: block;
	}
 }

/*----------end footer----------*/