// Normally mainpage styles

 /*---------sidebar----------*/
 .sidebar{
 	position: fixed;
 	left: 0;
 	top: 0;
 	z-index: 100;
 	width: 252px;
 	height: 100vh;
 	background:#4f5f6f;
 }
 	.logo{
 		background:#394657;
 		display: block;
 		height: 80px;
 		text-align: center;
 		img{
 			position: relative;
 			top: 20px;
 		}
 	}
 	.sidebar_list{
 		padding: 21px 0;
 		ul {
 			li{
 				padding: 0px 0px;
 				padding-top: 0;
 				padding-bottom: 4px;
 				a{
 					color: #fff;
 					display: block;
 					padding: 0 30px 0 39px;
 					height: 55px;
 					line-height: 55px;
 					font-size: 20px;
 					text-decoration: none;
 					&:hover{
 						background:#54c5e3;
 						color: #fff;
 						box-shadow: none;
 					}
 				}
 			}
 			ul{
 				padding-top: 0px;
 				li{
 					&:first-child{
 						margin-top: 10px;
 					}
 					position: relative;
 					padding:0 0 0px 0px;
 					a{
 						font-size: 15px;
 						display: block;
 						height: 36px;
 						line-height: 36px;
 						padding-left: 59px;
 						&:hover{
 							background:#394657;
 						}
 					}
 					&:before{
 						content: '';
 						position: absolute;
 						left: 43px;
   						 top: 15px;
 						background:#fff;
 						border-radius: 50%;
 						width: 7px;
 						height: 7px;
 					}
 				}
 			}
 		}
 		.panel.panel-default{
 			background: none;
 			border: none;
 			border-radius: 0;
 			box-shadow: none;
 			&:hover{
 				box-shadow: none;
 			}
 			& > a{
 				color: #93a5b7;
 				&.collapsed{
 					color: #fff;
 				}
 			}
 		}
 		.collapse{
 			height: auto !important;
 		}

 	}
 	.social{
 		text-align: center;
 		color: #394657;
 		position: absolute;
 		bottom: 30px;
 		left: 0;
 		width: 100%;
 		a{
 			padding: 0 12px;
 			transition: all 0.7s ease;
 			&:hover{
				color: #54c5e3;
 			}
 		}
 	}
	.sid_mobile, .sid_mobile_overlay{
		display: none;
	}
	 	
 /*--------end-sidebar----------*/

 /*----------header----------*/

 .header{
	height: 80px;
	background:#d6dde5;
	text-align: right;
	vertical-align: top;
 }
 	.your_cart, .login_wrap{
 		vertical-align: top;
 		display: inline-block;
 	}
 	.your_cart{
 		width: 180px;
		height: 40px;
		margin: 20px 27px 0 0;
		border-radius: 20px;
		background-color: #4f5f6f;
		text-align: left;
		line-height: 40px;
		font-size: 15px;
		color: #fff;
		text-decoration: none;
		span{
			display: inline-block;
			border-radius: 50%;
			text-align: center;
			width: 26px;
			height: 26px;
			line-height: 26px;
			background:#54c5e3;
			margin: 0 0 0 35px;
		}
 		i{
 			font-size: 17px;
 			color: #53b9d6;
 			margin: 0 10px 0 12px;
 		}
 		&:hover{
 			background:#394657;
 			color: #fff;
 		}
 	}
	.login_wrap{
		position: relative;
		width: 181px;
		height: 40px;
		margin: 20px 60px 0 0;
		button{
			width: 181px;
			height: 40px;
			text-align: center;
			border-radius: 18px;
			background:#54c5e3;
			border: none;
			font-size: 18px;
			color: #fff;
			&:hover{
				background:#4ab2cd;
			}
			img{
				position: relative;
				top: 2px
			}
		}
	}
		.login_block{
			position: absolute;
			right: 0;
			top: 60px;
			z-index: 10;
		}
		.login{
			width: 280px;
			height: 165px;
			box-shadow: 0 0 4px #dadee1;
			border-radius: 10px;
			background-color: #54c5e3;
			&:before{
				content: '';
				position: absolute;
			    top: -15px;
			    right: 18px;
				@include arr(15,15, #54c5e3, t)
			}
			form{
				padding-top: 10px;
			}
		}
			.login_input{
				width: 260px;
				height: 40px;
				margin: 0 auto ;
				margin-bottom: 10px;
				border-radius: 10px;
				background-color: #fff;
				text-align: left;
				label{
					display: inline-block;
					width: 83px;
					height: 30px;
					line-height: 30px;
					font-size: 15px;
					color: #d6dde5;
					margin: 5px 0 0 14px;
					border-right: 1px solid #d6dde5;
				}
				input{
					width: 148px;
					height: 30px;
					margin: 5px 0 0 7px;
					padding: 0;
					border: none;
					font-size: 15px;
					color: #4f5f6f;
					outline: none;
					box-shadow: none;
					&:focus{
						outline: none;
						box-shadow: none;
					}
				}
			}
			.login_btn{
				width: 260px;
				@include povh('');
				margin: 0 auto;
				.button{
					padding-top: 7px;
					padding-bottom: 7px;
					background:#4f5f6f;
					color: #fff;
					&:hover{
						background:#394657;
					}
				}
				span{
					float: left;
					font-size: 15px;
					font-weight: bold;
					color: #fff;
					padding: 0 0 0 9px;
					height: 40px;
					line-height: 40px;
					font-weight: normal;
					a{
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		.register{
			position: relative;
			text-align: center;
			margin: 7px 0 0 0;
			a{
				width: 280px;
				height: 40px;
				border-radius: 10px;
				background-color: #fff;
				font-size: 15px;
				font-weight: bold;
				text-transform: uppercase;
				color: #61c7e3;
				display: block;
				margin: 0 auto;
				line-height: 40px;
				text-decoration: none;
				&:hover{
					background:#61c7e3;
					color: #FFF;
				}
			}
		}
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
	padding: 20px 60px 20px 312px;
 }
	.main_info{
		font-size: 15px;
		color: #4f5f6f;
		margin-bottom: 50px;
		line-height: 1.2;
		h2{
			font-size: 40px;
			color: #161717;
			font-weight: bold;
			padding-bottom: 40px;
			padding-top: 9px;
			b{
				color: #54c5e3;
			}
		}
	}
		.main_info_top{
			margin-bottom: 37px;
			p{
				padding-bottom: 15px;
			}
		}
			.tweet{
				img{
					width: auto;
					max-width: auto;
				}
			}
		.main_info_services{
			.col-md-4{
				padding-bottom: 30px;
				text-align: center;
			}	
			figcaption{
				font-size: 25px;
				color: #394657;
				padding:10px 0 30px 0;
			}
			p{
				width: 275px;
				margin: 0 auto;
				line-height: 24px;
			}
		}
		.built{
			line-height: 24px;
			display: flex;
			.col-md-4{
				padding: 0 4px;
				display: flex;
			}
			section{
				min-height: 416px;
				box-sizing: border-box;
				padding: 15px;
				background-color: #fff;
				box-shadow: 0 0 5px rgba(0,0,0,.05);
			}
			h6{
				padding-bottom: 19px;
				font-size: 30px;
				color: #161717;
				font-weight: bold;
			}
			p{
				padding-bottom: 20px;
			}
		}
	.contacts_wrap{
		padding-bottom: 52px;
		.contacts_form{
			background:#e7ebed;
			padding: 15px 18px;
			height: 250px;
		}
		h4{
			font-size: 25px;
			color: #394657;
			font-weight: bold;
			padding-bottom: 15px;
		}
		input{
			display: block;
			margin-bottom: 16px;
		}
		textarea{
			height: 100px;
			margin-bottom: 20px;
			display: block;
		}
		.button{
			float: right;
			text-transform: uppercase;
			padding: 8px 24px;
			&:active{
				background:#394657;
			}
		}
		.col-md-4{
			padding-left: 3px;
		}
		.col-md-8{
			padding-right: 3px;
		}
	}
		.contacts_txt{
			height: 250px;
			box-sizing: border-box;
			padding: 15px;
			background:#54c5e3;
			h5{
				font-size: 25px;
				color: #fff;
				font-weight: bold;
			}
			p{
				padding: 10px 0  0 0;
				font-size: 18px;
				color: #fefefe;
			}
		}
		
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
	height: 80px;
	background:#d6dde5;
	font-size: 15px;
	color: #4f5f6f;
	text-align: right;
	address{
		padding: 24px 60px 0 0;
		display: block;
	}
 }

/*----------end footer----------*/

/*---------domains_configurations---------*/
.title{
	font-size: 40px;
	color: #161717;
	padding-bottom: 25px;
	font-weight: bold;
}
.domains_wrap{
	p{
		font-size: 15px;
		color: #4f5f6f;
		padding-bottom: 7px;
	}
	.blue{
		display: block;
		padding-bottom: 13px;
		a{
			font-size: 25px;
			color: #54c5e3;
			font-weight: bold;
			text-decoration: none;
		}
	}
}
	.domains_info{
		@include povh('');
		vertical-align: top;
		padding-bottom: 45px;
		div{
			width: 200px;
			height: 70px;
			display: inline-block;
			vertical-align: top;
			margin: 0 13px 0 0 ;
			border-radius: 10px;
			background: #d6dde5;
			border: 3px dashed #4f5f6f;
			text-align: center;
			b{
				display: block;
				padding: 5px 0 2px 0;
				font-size: 20px;
				color: #161717;
				font-weight: bold;
			}
			small{
				font-size: 15px;
				color: #4f5f6f;
				font-weight: bold;
				display: block;
			}
		}
	}
	.domains_list{
		@include povh('');
		vertical-align: top;
		padding-bottom: 68px;
		border-bottom: 1px dashed #4f5f6f;
		.col-md-4{
			padding: 0 4px;
		}
		.domains_list_item{
			margin: 3px;
			height: 210px;
			padding: 30px 20px;
			background-color: #fff;
			box-shadow: 0 0 5px rgba(0,0,0,.05);
			box-sizing: border-box;
			h6{
				font-size: 30px;
				color: #161717;
				font-weight: bold;
				padding-bottom: 18px;
			}
			p{
				font-size: 15px;
				color: #4f5f6f;
				font-weight: bold;
			}
			label{
				display: block;
				text-align: center;
				font-size: 20px;
				font-weight: bold;
				color: #4f5f6f;
				position: relative;
				padding-top: 9px;
				left: -10px;
				input{
					width: 100%;
					position: absolute;
					left: 0;
					top: 0;
					height: 30px;
					opacity: 0;
				}
				span{
					position: relative;
					left: 10px;
					top: -7px;
					&:before{
						width: 30px;
						height: 32px;
						content: '';
						position: relative;
						top: 8px;
						left: -10px;
						display: inline-block;
						background:url(../img/icons/checkbox.png) no-repeat top right;
					}
				}
				input:checked + span{
					&:before{
						background:url(../img/icons/checkbox.png) no-repeat top left;
					}
				}
			}
		}
	}
	.nameservers_wrap{
		padding: 34px 0 86px 0;
		& > .row{
			padding-top: 10px;
		}
		input{
			display: block;
			margin-bottom: 10px;
			border-radius: 10px;
			width: 100%;
		}
		.text-center{
			padding: 45px 0 0 0;
		}
		.btn{
			background: none;
			width: 140px;
			height: 30px;
			line-height: 1;
			border-radius: 15px;
			border: 2px solid #54c5e3;
			font-size: 15px;
			font-weight: bold;
			text-transform: uppercase;
			color: #54c5e3;
		}
	}	
		.subtitle{
			font-size: 30px;
			color: #161717;
			padding-bottom: 25px;
		}
/*-----end-domains_configurations---------*/

/*-----------my_details---------*/
.profile_details{
	@include povh('');
	padding-bottom: 78px;
	padding-top: 15px;
}
		.center_buttons{
			padding: 45px 0 0 0;
			.btn{
				margin: 0 10px;
				background: none;
				width: 140px;
				height: 30px;
				line-height: 1;
				border-radius: 15px;
				border: 2px solid #54c5e3;
				font-size: 15px;
				font-weight: bold;
				text-transform: uppercase;
				color: #54c5e3;
				text-decoration: none;
				&:hover{
					color: #fff;
					background:#54c5e3;
				}
				&.cancel{
					color: #d6dde5;
					border-color: #d6dde5;
				}
			}
		}	
	.profile_item{
		height: 40px;
		width: 100%;
		border: 1px solid #fff;
		margin-bottom: 10px;
		@include povh('');
		border-radius: 10px;
		background-color: #fff;
		label{
			float: left;
			width: 35%;
			height: 30px;
			color: #d6dde5;
			margin: 4px 0 0 0;
			box-sizing: border-box;
			position: relative;
			padding: 6px 10px;
			font-size: 15px;
			border-right: 1px solid #d6dde5;
		}
		&:hover{
			border: 1px solid #54c5e3;
		}
		&.error{
			border-color: #e35468;
			label{
				&:before{
					content: "\f06a";
					display: inline-block;
				    font: normal normal normal 18px/1 FontAwesome;
				    font-size:18px;
				    color: #e35468;
				    text-rendering: auto;
				    -webkit-font-smoothing: antialiased;
				    position: absolute;
				    right: 8px;
				    top: 7px
				}
			}	
		}
	}
		.profile_form_item{
			width: auto;
			@include povh('');
			input, select{
				border-radius: 0;
				background:none;
				font-size: 15px;
				font-weight: bold;
				color: #4f5f6f;
				width: 100%;
				&:focus{
					box-shadow: none;
				}
			}
		}
/*-----------end-my_details---------*/

/*-----------my_domain_names---------*/
.domain_names_wrap{
	padding-bottom: 70px;
}
	.domain_buttons{
		padding-bottom: 27px;
		padding-top: 8px;
		.domain_status:first-child{
			padding-right: 65px;
		}
		.text-right {
			padding: 8px 0 0 0;
			a{
				margin: 0 0 0 12px;
				text-align: center;
				vertical-align: top;
				text-decoration: none;
				line-height: 30px;
				padding: 0 15px;
				display: inline-block;
				font-size: 15px;
				font-weight: bold;
				text-transform: uppercase;
				color: #fff;
				height: 30px;
				border-radius: 15px;
				min-width: 143px;
				background-color: #54c5e3;
				&:hover{
					opacity: 0.8;
				}
			}
		}
	}
		.domain_status{
			font-size: 20px;
			color: #4f5f6f;
			display: inline-block;
			position: relative;
			&:first-child{
				padding: 0 50px 0 0;
			}
			input{
				position: absolute;
				left: 0;
				top: 0;
				width: 30px;
				height: 30px;
				z-index: 5;
				opacity: 0;
			}
			input:checked + i{
				background:#54c5e3;
				box-shadow: none;
				&:before{
					content: '';
					height: 10px;
					width: 10px;
					background:#fff;
					border-radius: 50%;
					position: absolute;
					top: 10px;
					left: 10px;
				}
			}
			span{
				width: 26px;
				height: 26px;
				display: inline-block;
				font-size: 15px;
				font-weight: bold;
				color: #fff;
				text-align: center;
				line-height: 26px;
				border-radius: 13px;
				margin: 0 0 0 13px;
				background-color: #4f5f6f;
			}
			i{
				width: 30px;
				height: 30px;
				background:#54c5e3;
				display: inline-block;
				@include povh('');
				margin: 0 8px 0 0;
				top: 8px;
				border-radius: 50%;
				background-color: #d6dde5;
				box-shadow: inset -1px 2px 1px rgba(0,0,0,.3);
				
			}
			label{
				cursor: pointer;
			}
		}
	.domain_search{
		background:#d6dde5;
		border-radius: 10px 10px 0 0 ;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
		color: #feffff;
		input{
			line-height: 1;
			font-size: 18px;
			width: 270px;
			height: 30px;
		}
	}
	.domain_table{
		table{
			width: 100%;
			background:#fff;
		}
		th, td{
			border-bottom: 1px solid #d6dde5;
			border-right: 1px solid #d6dde5;
			padding: 14px 13px;
			font-size: 15px;
			color: #161717;
			font-weight: normal;
			&:last-child{
				border-right: none;
			}
		}
		th{
			background:#e1e8f0;
			font-size: 20px;
			color: #4f5f6f;
			span{
				display: block;
				@include povh('');
				padding: 0 33px 0 0;
				width: 100%;
				cursor: pointer;
				&:before{
					content: '';
					position: absolute;
				    top: 4px;
				    right: 0px;
					@include arr(9,9, #b5bfc9, t)
				}
				&:after{
					content: '';
					position: absolute;
				    top: 16px;
				    right: 0px;
					@include arr(9,9, #b5bfc9, b)
				}
				&.active_top{
					&:before{
						display: none;
					}
					&:after{
						top: 10px;
						@include arr(9,9, #4f5f6f, b)
					}
				}
				&.active_bottom{
					&:before{
						top: 10px;
						@include arr(9,9, #4f5f6f, t)
					}
					&:after{
						display: none;
					}
				}
			}
		}
		td{
			.selected{
				display: inline-block;
				width: 145px;
				height: 30px;
				font-size: 15px;
				font-weight: bold;
				text-transform: uppercase;
				color: #fff;
				text-align: center;
				text-decoration: none;
				line-height: 30px;
				border-radius: 15px;
				background-color: #4f5f6f;
				&:after{
					content: '';
					position: relative;
				    top: 14px;
				    right: -3px;
					@include arr(8,8, #fff, b)
				}
				&:hover{
					background:#394657;
				}
			}
			.selected_drop{
				width: 280px;
				position: absolute;
				right: 0;
				z-index: 5;
				top: 55px;
				border-radius: 10px;
				background-color: #fff;
				box-shadow: 0 0 10px rgba(0,0,0,.2);
				&:before{
					content: '';
					position: absolute;
				    top: -13px;
				    right: 15px;
					@include arr(13,13, #fff, t)
				}
				ul{
					padding: 0 10px;
					li{
						padding: 7px 0;
						border-bottom: 1px solid #d6dde5;
						&:last-child{
							border-bottom: none;
						}
						&:hover{
							background:#eff3f6;
							a{
								color: #4f5f6f;
							}
						}
						a{
							display: block;
							text-decoration: none;
							line-height: 20px;
							font-size: 15px;
							font-weight: bold;
							color: #4f5f6f;
							img{
								margin: 0 8px ;
								position: relative;
								top: 3px
							}
							&:hover{
								color: #4f5f6f;
							}
						}
					}
				}
			}
			.drop_table{
				position: relative;
			}
		}
	}
/*-----------end-my_domain_names---------*/

/*-----------our_services---------*/
.services_wrap{
	  @include povh('');
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
}

	.services_block{
		border: 3px dashed #54c5e3;
		border-radius: 12px;
		width: 49%;
		margin-bottom: 25px;
		h6{
			padding: 15px;
			background:#d6dde5;
			font-size: 30px;
			font-weight: bold;
			color: #161717;
			border-radius: 10px 10px 0 0;
		}
		p{
			padding: 11px 15px 45px 15px;
			font-size: 15px;
			color: #4f5f6f;
			font-weight: 600;
		}
		figure{
			border: 9px solid #54c5e3;
			border-radius: 50%;
			height: 209px;
			width: 209px;
			margin: 20px auto 38px auto; 
			figcaption{
				height: 209px;
				width: 209px;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				font-size: 18px;
				font-weight: bold;
				color: #4f5f6f;
				text-transform: uppercase;
			}
			&:before{
				content: '';
				width: 33px;
				height: 33px;
				position: absolute;
				right: -8%;
    			top: 50%;
				z-index: 2;
				background:url(../img/icons/services_arrow.png) no-repeat;
			}
		}
		.row{
			padding: 0 10px;
		}
		.col-md-6:last-child{
			.top_btn{
				background:#97e1ff;
			}
			figure{
				border-color: #97e1ff;
				&:before{
					display: none;
				}
			}
		}
		blockquote{
			font-size: 15px;
			font-style: italic;
			color: #fff;
			background-color: #4f5f6f;
			padding: 22px;
			margin: 20px 15px 54px 15px;
			position: relative;
			&:before{
				position: absolute;
				width: 67px;
				height: 48px;
				content: '';
				top: -28px;
    			left: 14px;
				background:url(../img/icons/quote_top.png) no-repeat ;
			}
			&:after{
				position: absolute;
				width: 67px;
				height: 48px;
				content: '';
				bottom: -28px;
    			right: 14px;
				background:url(../img/icons/quote_bottom.png) no-repeat ;
			}
		}
	}
		.top_btn{
			display: block;
			width: 192px;
			height: 58px;
			margin: 0 auto;
			font-size: 17px;
			color: #feffff;
			text-align: center;
			font-weight: bold;
			text-decoration: none;
			box-sizing: border-box;
			border-radius: 29px;
			background-color: #54c5e3;
			span{
				display: table-cell;
				width: 192px;
				height: 58px;
				vertical-align: middle;
			}
		}
.services_info_top{
	margin-bottom: 30px;
	h2{
		padding-top: 0;
		padding-bottom: 13px;
	}
}
/*-----------end-our_services---------*/

/*-----------end-our_tariffs---------*/
.tariffs_wrap{
	@include povh('');
	margin-bottom: 65px;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: flex-start;
}
.tarrifs_info_top{
	h2{
		padding-bottom: 28px;
	}
}
	.tariffs_block{
		border: 3px dashed #4f5f6f;
		width: 32.7%;
		border-radius: 10px;
		transition: all 0.6s ease;
		margin-bottom: 20px;
		margin-right: 6px;
		&:hover{
			border-color: #54c5e3;
			figure figcaption a{
				color: #54c5e3;
			}
			.btn{
				background:#54c5e3;
			}
		}
		figure{
			padding: 20px;
			img{
				width: 100%;
			}
			figcaption{
				text-align: center;
				padding: 11px 0 7px 0;
				a{
					text-decoration: none;
					font-size: 30px;
					color: #4f5f6f;
					font-weight: bold;
					transition: all 0.6s ease;
				}
			}
		}
		ul{
			padding: 0 20px;
			margin: 0 0 10px 0;
			li{
				padding-bottom: 16px;
				position: relative;
				overflow: hidden;
				padding-left: 28px;
				font-size: 19px;
				font-weight: bold;
				&:before{
					content: '';
					position: absolute;
					width: 14px;
					left: 0;
					top: 2px;
					height: 14px;
					border: 3px solid #4f5f6f;
					border-radius: 50%;
					background-color: none;
				}
			}
		}
		.btn{
			display: block;
			height: 40px;
			text-transform: uppercase;
			margin: 15px;
			margin-top: 0;
			transition: all 0.6s ease;
			border-radius: 10px;
			background-color: #d6dde5;
			i{
				position: relative;
				right: 10px;
			}
		}
	}
	.tariffs_calculator{
		margin: 55px 0 0 0;
		.blockquote{
			float: left;
			width: 65%;
		}
		.button{
			height: 60px;
			width: 300px;
			float: right;
			margin: 20px 39px 0 0;
			font-size: 20px;
			text-transform: uppercase;
			color: #fff;
			border-radius: 30px;
			line-height: 45px;
			background-color: #54c5e3;
			.fa{
				font-size: 37px;
				margin: 0 15px 0 0;
			}
			&:hover{
				opacity: 0.8;
			}
		}

	}
	.blockquote{
		font-size: 15px;
		font-style: italic;
		color: #fff;
		background-color: #4f5f6f;
		padding: 26px;
		margin: 0 15px 54px 15px;
		position: relative;
		&:before{
			position: absolute;
			width: 67px;
			height: 48px;
			content: '';
			top: -28px;
			left: 14px;
			background:url(../img/icons/quote_top.png) no-repeat ;
		}
		&:after{
			position: absolute;
			width: 67px;
			height: 48px;
			content: '';
			bottom: -28px;
			right: 14px;
			background:url(../img/icons/quote_bottom.png) no-repeat ;
		}
	}
/*-----------end-our_tariffs---------*/

/*-----------services---------*/
.services_all{
	@include povh('');
	p{
		padding-bottom: 80px;
	}
	.subtitle{
		padding-bottom: 6px;
	}
	.blockquote{
		margin-left: 0;
	}
	.services_block{
		width: 100%;
		border: none;
	}

}
/*-----------end-services---------*/

/*-----------transfer_register_domain---------*/
.choose_domain{
	border-bottom: 1px dashed #4f5f6f;
	padding-bottom: 35px;
	margin-bottom: 17px;
	padding-top: 7px;
	&:last-child{
		border-bottom: none;
	}
	.center_buttons{
		padding: 35px 0 12px 0;
	}
	.center_buttons .btn{
		margin-right: 160px;
	}
}
	.choose_domain_form{
		padding: 20px 0 0 0;
		vertical-align: top;
		span{
			width: 60px;
			height: 40px;
			display: inline-block;
			border-radius: 10px;
			vertical-align: top;
			text-align: center;
			line-height: 40px;
			color: #4f5f6f;
			font-size: 15px;
			font-weight: bold;
			margin: 0 8px 0 0;
			background-color: #d6dde5;
		}
		input{
			border-radius: 10px;
			width: 425px;
		}
		select{
			box-sizing: border-box;
			width: 80px;
			margin: 0 0 0 10px;
			height: 40px;
			padding: 0 7px;
			color: #4f5f6f;
			font-size: 15px;
			font-weight: bold;
			border-radius: 10px;
			background-color: #d6dde5;
		}
	}
/*------end-transfer_register_domain-----*/

/*------welcome_back-----*/
.profile_info_wrap{
	@include povh('');
	.profile_info_left{
		width: auto;
		background-color: #fff;
		box-shadow: 0 0 5px rgba(0,0,0,.05);
		box-sizing: border-box;
		padding: 20px 16px;
		h6{
			font-size: 30px;
			font-weight: bold;
			padding-bottom: 14px;
			color: #161717;
		}
		div{
			@include povh('');
			padding-bottom: 10px;
			label{
				width: 35%;
				float: left;
				height: 29px;
				line-height: 29px;
				border-right: 1px solid #d6dde5;
				font-size: 15px;
				font-weight: bold;
				color: #d6dde5;
			}
			input{
				overflow: hidden;
				width: auto;
				height: 29px;
				border-radius: 0;
				outline: none !important;
				box-shadow: none;
				font-size: 15px;
				font-weight: bold;
				color: #4f5f6f;
			}
			.button{
				width: 140px;
				height: 30px;
				text-align: center;
				margin: 15px auto 0 auto;
				line-height: 0.9;
				border-radius: 15px;
				border: #54c5e3 2px solid ; 
				font-size: 15px;
				font-weight: bold;
				text-transform: uppercase;
				color: #54c5e3;
				background: none;
				&:hover{
					background:#54c5e3;
					color: #fff;
				}
			}
		}	
	}
}
		.register_form{
			padding: 18px  0;
			.btn{
				background:#54c5e3;
				color: #fff;
				width: auto;
				padding: 0 12px;
				height: 30px;
				font-size: 15px;
				line-height: 30px;
				text-transform: uppercase;
				&:hover{
					opacity: 0.8;
				}
			}
		}
		.your_domain_info{
			border: 3px dashed #4f5f6f;
			border-radius: 15px;
			margin-bottom: 20px;
			dt{
				background:#d6dde5;
				padding: 16px;
				border-radius: 14px 14px 0 0;
				text-align: right;
				span{
					text-align: left;
					float: left;
					width: 60%;
					line-height: 26px;
					font-size: 30px;
					color: #161717;
				}
				a{
					font-size: 15px;
					font-weight: bold;
					text-transform: uppercase;
					color: #54c5e3;
					width: 140px;
					height: 30px;
					border-radius: 15px;
					display: inline-block;
					text-align: center;
					text-decoration: none;
					line-height: 26px;
					border: 2px solid #54c5e3;
					&:hover{
					background:#54c5e3;
					color: #fff;	
					}
				}
			}
			dd{
				padding: 14px 31px;
				ul{
					-moz-column-count: 4;
					-moz-column-gap: 25px;
					-webkit-column-count: 4;
					-webkit-column-gap: 25px;
					column-count: 4;
					column-gap: 25px;
				}
			}
		}
.login_list{
	background:#fff;
	text-align: left;
	padding: 0 10px;
	&:before{
		@include arr(15,15, #ffffff, t)
	}
	li{
		padding: 10px 0;
		border-bottom: 1px solid #d6dde5;
		&:last-child{
			border-bottom: none;
		}
	}
	a{
		font-size: 15px;
		color: #4f5f6f;
		font-weight: bold;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
/*------end-welcome_back-----*/

/*------who_we_help-----*/
.help_wrap{
	background:#fff;
	box-sizing: border-box;
	padding: 16px 60px;
	padding-left: 70px;
	margin-left: -75px;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	width: calc(100% + 160px);
	margin-bottom: 59px;
	h6{
		font-weight: bold;
		font-size: 30px;
		color: #161717;
		padding-bottom: 45px;
	}
	.col-md-6{
		overflow: hidden;
	}
	.your_domain_info {
		border-color: #d6dde5;
		dt{
			background:#eff3f6;
			overflow: hidden;
			text-align: left;
			span{
				float: none;
				width: 100%;
				text-align: left;
				display: block;
			}
		}
	}
	.main_info_top{
		margin-bottom: 31px;
	}
}
/*------end-who_we_help-----*/

/*------why_deskserve-----*/
.why_wrap{
	background:#d6dde5;
	box-sizing: border-box;
	padding: 23px 60px;
	padding-left: 70px;
	margin-left: -75px;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	width: calc(100% + 160px);
	margin-bottom: 40px;
	section{
		color: #4f5f6f;
		font-size: 15px;
		p{
			padding-bottom: 13px;
		}
	}
}
	.why_box{
		box-sizing: border-box;
		padding: 14px;
		min-height: 235px;
		display: block;
		margin-bottom: 20px;
		background-color: #fff;
		text-decoration: none;
		font-size: 15px;
		line-height: 1.5;
		color: #4f5f6f;
		box-shadow: 0 0 5px rgba(0,0,0,.05);
		transition: all 0.3s linear;
		strong{
			display: block;
			font-size: 28px;
			color: #161717;
			padding-bottom: 20px;
			transition: all 0.3s linear;
		}
		&:hover{
			background:#54c5e3;
			strong{
				color: #fff;
			}
		}
	}
	.why_text{
		padding-bottom: 40px;
	}
/*------end-why_deskserve-----*/

/*------your-cart-----*/
.cart_wrap{
	.title{
		padding-bottom: 0;
	}
	.text-right{
		margin-top: -7px;
	}
	.text-right a{
		font-size: 15px;
		text-transform: uppercase;
		color: #54c5e3;
		width: 140px;
		height: 30px;
		display: inline-block;
		border-radius: 15px;
		text-align: center;
		line-height: 25px;
		text-decoration: none;
		border: 2px solid #54c5e3;
		&:hover{
			background:#54c5e3;
			color: #fff;
		}
	}
}
	.cart_table{
		padding: 17px 0;
		table{
			width: 100%;
		}
		thead{
			padding-bottom: 10px;
		}
			th{
				padding: 15px;
				color: #4f5f6f;
				font-size: 20px;
				font-weight: bold;
				background:#e1e8f0;
				&:first-child{
					border-radius: 8px 0 0 0;
				}
				&:last-child{
					border-radius:  0 8px 0 0;
				}
			}
		tbody{	
			td{
				padding: 15px;
				background:#fff;
				border-top: 9px solid #eff3f6;
				line-height: 1;
				vertical-align: top;
				strong{
					display: block;
					font-size: 25px;
					color: #161717;
				}
				a{
					font-size: 20px;
					color: #54c5e3;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				span{
					font-size: 20px;
					display: block;
				}
				&:first-child{
					width: 83%;
				}
			}
			.price{
				display: inline-block;
				width: 85px;
				font-size: 20px;
				color: #161717;
				text-align: center;
				b{
					font-weight: bold;
					font-size: 25px;
					display: block;
				}
			}
			.edit{
				text-align: center;
				display: inline-block;
				width: 75px;
				i{
					cursor: pointer;
					font-size: 20px;
					font-weight: bold;
					color: #4f5f6f;
				}
				a.btn{
					font-size: 15px;
					color: #4f5f6f;
					width: 60px;
					margin-top: 20px;
					height: 30px;
					text-align: center;
					font-weight: bold;
					line-height: 1;
					border-radius: 15px;
					background: none;
					border: 2px solid #4f5f6f;
					&:hover{
						color: #fff;
						text-decoration: none;
						background:#4f5f6f;
					}
				}
			}
		}
		tfoot{
			td{
				padding: 8px 31px;
				font-size: 20px;
				color: #4f5f6f;
				background:#e1e8f0;
				&:last-child{
					text-align: right;
				}
			}
			tr:first-child{
				td{
					border-top: 9px solid #eff3f6;
				}
			}
			tr:last-child{
				td{
					font-size: 25px;
					padding: 0;
					padding-bottom: 10px;
					color: #fff;
					&:first-child{
						padding-left: 20px;
					}
					&:last-child{
						padding-right: 20px;
					}
				}
			}
			.tfoot_block{
				background:#4f5f6f;
				display: block;
				padding: 5px 10px;
			}
		}	
	}
	.cart_bottom{
		padding: 18px 0 0 0 ;
		padding-bottom: 70px;
		.btn{
			margin-top: 15px;
			float: right;
			font-size: 40px;
			font-weight: bold;
			text-transform: uppercase;
			color: #fff;
			width: 280px;
			height: 70px;
			text-decoration: none;
			border-radius: 35px;
			background-color: #54c5e3;
			&:hover{
				opacity: 0.8;
			}
		}
	}
		.promo{
			input{
				display: block;
				width: 75%;
				height: 40px;
			}
			label{
				display: block;
				font-size: 25px;
				color: #161717;
				padding-bottom: 14px;
			}
			.button{
				height: 30px;
				font-size: 15px;
				line-height: 30px;
				text-transform: uppercase;
				padding-top: 0;
				padding-bottom: 0;
			}
			.text-right{
				padding: 19px 25% 0 0;

			}
		}
/*------end-your-cart-----*/