// Normally mainpage styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 



//style for big screen
@include mq($min-width: 1550px) {
	.main_info_top{
		img{
			width: 100%;
		}
		.tweet{
			img{
				width: auto;
			}
		}
	}
	.contacts_wrap textarea, .contacts_wrap input{
		width: 100%;
	}
	.contacts_wrap .button{
		width: auto;
	}
}

//styles for 1250 width
@include mq($max-width: 1250px) {
  .sidebar{
  	width: 200px;
  }
  	.logo img{
  		max-width: 90%;
  	}
  .main{
	padding: 20px 30px 20px 230px;
   }
   		.contacts_wrap {
   			textarea, input{
   				width: 100%;
   			}
   		}
   		.main_info_services p{
   			width: auto;
   		}
   	.tariffs_block{
   		width: 32%;
   		margin-right: 0.5%;
   	}
   	.tariffs_calculator .button{
   		overflow: hidden;
   		width: auto;
   	}	
   	.domain_buttons .text-right a{
   		font-size: 11px;
   		height: 27px;
   		margin-bottom: 10px;
   	}
   	.domain_status{
   		font-size: 16px;
   	}
   	.your_domain_info dt{
   		overflow: hidden;
   	}
   	.profile_info_wrap .profile_info_left div input{
   		width: 65%;
   	}
   	.sidebar_list ul li a{
   		font-size: 17px;
   	}
   	.tweet img{
   		max-width: 100%;
   	}
   	.main_info_top {
   		.col-md-6{
   			overflow: hidden;
   		}
   	}
}

//styles for 990 width
@include mq($max-width: 990px) {
	.sidebar{
		//display: none;
		opacity: 0;
		left: -300px;
		z-index: -100;
		transition: all 0.5s ease;
		&.js_visible{
			display: block;
			overflow: auto;
			//
			left: 0;
			opacity: 1;
			z-index: 100;
		}
		.social{
			position: static;
		}
	}
		.sid_mobile{
			position: fixed;
			top: 0;
			left: 0;
			display: block;
			z-index: 20;
			background:#4f5f6f;
			width: 64px;
			height: 100vh;
			border-right: 1px solid #27303c;
		}
			.toggle_sidebar{
				text-align: center;
				color: #fff;
				padding: 10px 0;
				font-size: 40px;
			}
		.sid_mobile_overlay{
			position: fixed;
			top: 0;
			display: none;
			left: 0;
			z-index: 100;
			width: 100%;
			height: 100%;
			background:rgba(255,255,255, 0.7);
		}
	.main{
	padding: 20px 15px 20px 75px;
   }
   	.contacts_wrap .contacts_form, .contacts_txt{
   		height: auto;
   	}
   	.contacts_wrap{
   		padding-bottom: 0;
   	}
   	.main_info{
   		margin-bottom: 10px;
   	}

   	.services_block figure:before{
   		display: none;
   	}
   		.services_block figure{
   			width: 100%;
   			height: auto;
   			figcaption{
   				padding: 30px 0;
   				width: auto;
   				font-size: 13px;
   				height: auto;
   			}
   		}
	.domain_search{
		height: auto;
	}
	
}

//styles for 768 width
@include mq($max-width: 768px) {
	.button{
		font-size: 15px;
	}
	.built{
		.col-md-4{
			margin-bottom: 10px;
		}
	}
	.built section{
		min-height: auto;
	}
	.main_info h2{
		font-size: 30px;
	}
	.contacts_wrap .col-md-4, .contacts_wrap .col-md-8{
		padding-left: 3px;
		margin-bottom: 19px;
		padding-right: 3px;
	}
	.sid_mobile{
		width: 40px;
	}
	.main{
		padding-left: 50px;
	}
	.toggle_sidebar{
		font-size: 33px;
	}
	.footer{
		height: auto;
	}
	.footer address{
		padding: 15px 0;
		padding-right: 10px;
		font-size: 11px;
	}

	.services_wrap {
		.services_block{
			width: 100%;
			.row{
				float: left;
				width: 50%;

			}
			figure{
				border: none;
			}
			blockquote{
				width: 50%;
				float: right;
			}
		}
	}

	.tariffs_calculator {
		.blockquote{
		width: 55%;
		}
		.button{
			font-size: 17px;
		}
	}
	.domain_buttons{
		.text-right{
			text-align: left !important;
			margin-top: 15px;
		}
	}
	.domain_table_outer{
		position: relative;
		overflow: hidden;
		overflow-x: scroll;
		.center_buttons{
			display: none;
		}

		.domain_search{
			width: 733px;
		}
	}
	.main_info_top img{
		padding-bottom: 20px;
		width: 99%;
	}
	.choose_domain_form input{
		width: 40%;
		padding: 0 5px;
		font-size: 11px;
	}

	.your_domain_info dd ul{
		-moz-column-count:1;
		-moz-column-gap: 0px;
		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		column-count: 1;
		column-gap: 0px;
	}
}

//styles for 600 width
@include mq($max-width: 600px) {
	.main_info_top{
		.col-md-6{
			width: 100%;
		}
		.col-md-6:last-child{
			display: none;
		}
	}
	.main_info_services{
		.col-md-4{
			width: 100%;
		}
	}
	.contacts_form{
		.col-md-6{
			width: 100%;
		}
	}
	.your_cart{
		width: 125px;
		margin-right: 5px;
		height: 30px;
		font-size: 11px;
		line-height: 30px;
		span{
			margin-left: 8px;
		}
	}
	.login_wrap{
		width: 120px;
		margin-right: 5px;
		button{
			width: 120px;
			height: 30px;
			font-size: 11px;
			img{
				width: 20px;
			}
		}
	}
	.login_block{
		z-index: 21;
	}

	.contacts_wrap {
		.button{
			width: auto;
		}
	}

	.services_wrap {
		.services_block{
			width: 100%;
			.row{
				float: none;
				width: auto;
			}
			figure{
				border: none;
			}
			blockquote{
				width: auto;
				float: none;
			}
		}
	}

	.tariffs_calculator {
		display: none;
		.blockquote{
		width: 95%;
		margin: 0 auto;
		float: none;
		}
		.button{
			font-size: 17px;
			float: none;
			margin: 0 auto;
			margin-top: 20px;
		}
	}
	.tariffs_block{
		width: 100%;
		margin-right: 0;
	}
	.profile_item {
		label{
			width: 51%;
			padding: 0 4px;
			line-height: 29px;
			font-size: 10px;
		}
		input, select{
			font-size: 10px;
		}
	}
	.center_buttons .btn {
	    margin: 0 2px;
	    width: 105px;
	    height: 30px;
	    font-size: 11px;
	}

	.your_domain_info dt span{
		width: 100%;
		padding-bottom: 30px;
	}
	.choose_domain_form span{
		width: 48px;
		font-size: 11px;
	}
	.choose_domain_form select{
		width: 63px;
		font-size: 11px;
	}

	.domain_status:first-child{
		padding: 0 10px 0 0;
	}
		.domain_status{
			input{
				position: absolute;
				left: 0;
				top: 0;
				width: 15px;
				height: 15px;
				z-index: 5;
				opacity: 0;
			}
			input:checked + i{
				background:#54c5e3;
				box-shadow: none;
				&:before{
					content: '';
					height: 5px;
					width: 5px;
					background:#fff;
					border-radius: 50%;
					position: absolute;
					top: 5px;
					left: 5px;
				}
			}
			span{
				width: 20px;
				height: 20px;
				display: inline-block;
				font-size: 12px;
				font-weight: bold;
				color: #fff;
				text-align: center;
				line-height: 20px;
				border-radius: 13px;
				margin: 0 0 0 10px;
				background-color: #4f5f6f;
			}
			i{
				width: 15px;
				height: 15px;
				background:#54c5e3;
				display: inline-block;
				@include povh('');
				margin: 0 4px 0 0;
				top: 4px;
				border-radius: 50%;
				background-color: #d6dde5;
				box-shadow: inset -1px 2px 1px rgba(0,0,0,.3);
				
			}
			label{
				cursor: pointer;
			}
		}

	.title{
		font-size: 27px;
	}
}